{:port               8080
 :soil               {:version "0.1.4"}
 :hive               {:version "1f09933bdde4ac685934b09bd3d34309e965a76c"
                      :image   "formicarium/hive:1f09933bdde4ac685934b09bd3d34309e965a76c"}
 :tanajura           {:version "1.7.0"
                      :image   "formicarium/tanajura:1.7.0"}
 :etcd               {:endpoint "localhost"
                      :port     2379}
 :skip-kubectl-proxy false}

