#merge [#include "base.edn"
        {:env                "dev"
         :domain             #or [#env DOMAIN "formicarium.host"]
         :config-server      {:url #or [#env CONFIG_SERVER_URL "http://localhost:8081"]}
         :kubernetes         {:url                "http://localhost:9000"
                              :image-pull-secrets []
                              :token-filepath     #or [#env KUBERNETES_TOKEN_FILEPATH "/secrets/token"]
                              :ingress-config-map {:name      #or [#env INGRESS_CONFIG_MAP_NAME "fmc-ingress-tcp"]
                                                   :namespace "fmc-infra"
                                                   :max-port  5000
                                                   :min-port  4000}}
         :etcd               {:endpoint "localhost"
                              :port     2379}
         :skip-kubectl-proxy false}]
