#merge [#include "base.edn"
        {:env                "prod"
         :domain             #or [#env DOMAIN "formicarium.host"]
         :config-server      {:url #or [#env CONFIG_SERVER_URL "http://config-server.formicarium.host"]}
         :kubernetes         {:url                #or [#env KUBERNETES_URL "http://localhost:9000"]
                              :image-pull-secrets [#env IMAGE_PULL_SECRET]
                              :token-filepath     "/var/run/secrets/kubernetes.io/serviceaccount/token"
                              :ingress-config-map {:name      #or [#env INGRESS_CONFIG_MAP_NAME "fmc-ingress-tcp"]
                                                   :namespace "fmc-infra"
                                                   :max-port  5000
                                                   :min-port  4000}}
         :skip-kubectl-proxy false}]
