#merge [#include "base.edn"
        {:config-server {:url "http://config-server.formicarium.host"}
         :kubernetes    {:proxy {:url "http://localhost:9000"}}
         :formicarium   {:domain "formicarium.host"}
         :skip-kubectl-proxy true}]
