{:configserver {:url "http://config-server"}
 :kubernetes   {:proxy {:url "http://localhost:9000"}}
 :hive         {:version "1f09933bdde4ac685934b09bd3d34309e965a76c"}
 :tanajura     {:version "1.4.1"}
 :formicarium  {:domain "formicarium.host"}}
