#merge [#include "base.edn"
        {:env                "dev"
         :domain             "formicarium.host"
         :config-server      {:url "https://configserver.com"}
         :kubernetes         {:url                "http://localhost:9000"
                              :token-filepath     "/etc/hosts"
                              :ingress-config-map {:name      "my-nginx-nginx-ingress-tcp"
                                                   :namespace "default"
                                                   :max-port  5000
                                                   :min-port  4000}}
         :skip-kubectl-proxy true}]
