{:name       "hive"
 :devspace   "{{devspace}}"
 :containers [{:name      "hive"
               :image     "formicarium/hive:5d98c11ea5db32bd8db5478e7389f0ac668d79b3"
               :syncable? false
               :env       {}}]
 :interfaces [{:name      "default"
               :port      8080
               :type      :http
               :container "hive"}
              {:name      "repl"
               :port      2222
               :type      :nrepl
               :container "hive"}
              {:name      "zmq"
               :port      9898
               :expose?   false
               :type      :tcp
               :container "hive"}]}
