{:name       "hive"
 :service    "hive"
 :devspace   "{{devspace}}"
 :containers [{:name      "hive"
               :image     "formicarium/hive:5c628e3cbe8999e58e1a7972dc4689f9a204fa90"
               :syncable? false
               :env       {}}]
 :interfaces [{:name      "default"
               :port      8080
               :type      :http
               :container "hive"}
              {:name      "repl"
               :port      2222
               :type      :nrepl
               :container "hive"}
              {:name      "zmq"
               :port      9898
               :expose?   false
               :type      :tcp
               :container "hive"}]}
