{:name       "tanajura"
 :devspace   "{{devspace}}"
 :containers [{:name      "tanajura"
               :image     "formicarium/tanajura:1.8.1"
               :syncable? false
               :env       {"DEVSPACE" "{{devspace}}"
                           "SOIL_URL" "{{soil-url}}"}}]
 :interfaces [{:name      "default"
               :port      3002
               :type      :http
               :container "tanajura"}
              {:name      "git"
               :port      6666
               :type      :http
               :container "tanajura"}]}
